  .media-object {
    --border-width: 1px;
    --radius: 24px;
  
    position: relative;
    border-radius: var(--radius);
    border: var(--border-width) solid transparent;
  }
  
  .media-object::before {
    content: " ";
    position: absolute;
    inset: calc(var(--border-width) * -1);
    z-index: -1;
    border: inherit;
    border-radius: inherit;
    background-image: conic-gradient(from var(--angle), #381D6A 80%, #E0D1FF 88%, #E0D1FF 92%, #381D6A 100%);
    background-origin: border-box;
    -webkit-mask:
      linear-gradient(black, black) content-box,
      linear-gradient(black, black);  
    mask: linear-gradient(black, black),
          linear-gradient(black, black);
    -webkit-mask-clip: content-box, border-box;  
    mask-clip: content-box, border-box;
    -webkit-mask-composite: xor;  
    mask-composite: exclude;
    animation: spin 3s linear infinite;
  }
  
  @supports not (background: paint(something)) {
    .media-object::before {
  background-image: conic-gradient(#381D6A 80%, #E0D1FF 88%, #E0D1FF 92%, #381D6A 100%);    
    }
  }
  
  .media-object:hover::before {
    animation-play-state: paused;
  }
  
  @property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }
  
  @keyframes spin {
    to {
      --angle: 1turn;
    }
  }
  
  
  mark {
    background: linear-gradient(270deg, #D42F4A 0%, #F82BBF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: #0000;
    -webkit-box-decoration-break: clone;
  }
