@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root {
  scrollbar-width: none;
  /* -ms-overflow-style: none; */
  height: 100%;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  display: none;
}
